/* Box Model Hack */
* {
    box-sizing: border-box;
}
  
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
  
.clear {
    clear: both;
}
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  

html, body {
  background: #fff;
  font-family: 'Rubik Moonrocks', 'cursive';
  font-family: 'Source Sans Pro', sans-serif;
}

::selection {
  background: #343a3e;
  color: #fff;
}

::-moz-selection {
  background: #343a3e;
  color: #fff;
}
@media (max-width: 991px) {
    html, body {
      overflow-x: hidden;
    }
    .mobile-top-fix {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .mobile-bottom-fix {
      margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
      margin-bottom: 60px;
    }
}
  
.section-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
  
.section-heading h2 {
    font-size: 30px;
    font-weight: 800;
    color: #2a2a2a;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.section-heading img {
    margin: 20px auto;
}
  
.dark-bg h2 {
    color: #fff;
}
  
.dark-bg p {
    color: #fff;
}
  
.main-white-button a {
    display: inline-block;
    font-size: 14px;
    padding: 12px 18px;
    background-color: #fff;
    color: #2a2a2a;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
}
  
.main-white-button a:hover {
    opacity: 0.9;
}
  
.main-dark-button a {
    display: inline-block;
    font-size: 14px;
    padding: 12px 18px;
    background-color: #343a3e;
    color: #fff;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
}
  
.main-dark-button a:hover {
    opacity: 0.9;
}
  
  
.text-button a {
    font-size: 14px;
    color: #7c838b;
    transition: all .3s;
}
  
.text-button i {
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s;
}
  
.text-button a:hover {
    color: #343a3e;
}
  
.text-button a:hover i {
    margin-left: 8px;
}
  

  /******************************************
  /* LAYOUT
  /*******************************************/
.pre-header {
    background-color: #f0f0f1;
    padding: 10px 0px;
}
  
.pre-header span {
    font-size: 13px;
    color: #2a2a2a;
    font-weight: 500;
}

.pre-header .text-button {
    text-align: right;
}
  
.pre-header .text-button a {
    color: #2a2a2a;
}

.header-area {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: #fff;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
  
.header-area .main-nav {
    min-height: 80px;
    background: transparent;
}
  
.header-area .main-nav .logo {
    line-height: 80px;
    color: #656c74;
    font-size: 28px;
    font-weight: 700;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
  
.header-area .main-nav .logo em {
    font-style: normal;
    color: #2a2a2a;
    font-weight: 900;
}
  
.header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}
  
.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}
  
.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #2a2a2a;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
}
  
.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #656c74!important;
    opacity: 1;
}
  
.header-area .main-nav .nav li a.active {
    position: relative;
}
  
.nav *{
    text-decoration: none;
    list-style-type: none;
}
.header-area .main-nav .nav li a.active:after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #656c74;
    content: '';
    top: -20px;
    left: 0;
}
  
.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #656c74!important;
    opacity: 1;
}
  
.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}
  
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #656c74;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .nav li a.active:after {
    display: none;
  }
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #656c74!important;
    opacity: 1;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #656c74!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-content img {
    background-image: url(https://github.com/Oliveth96/100Devs/blob/main/festeeeval.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0px 100px 0px;
    position: relative;
}
  
.main-banner h6 {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}
  
.main-banner h2 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}
  


  
  /*
  ---------------------------------------------
  Show Events Carousel
  ---------------------------------------------
  */
.owl-show-events {
    position: relative;
    margin-top: -60px;
}
  
.owl-show-events .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(5px);
}
  
      
.owl-show-events .owl-nav .owl-prev{
    position: absolute;
    left: -45px;
    outline: none;
}
  
.owl-show-events .owl-nav .owl-prev span,
.owl-show-events .owl-nav .owl-next span {
    opacity: 0;
}
  
.owl-show-events .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7c838b;
    font-size: 14px;
    content: '\f060';
}
  
.owl-show-events .owl-nav .owl-next{
    position: absolute;
    right: -45px;
    outline: none;
}
  
.owl-show-events .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7c838b;
    font-size: 14px;
    content: '\f061';
}
  

/*
---------------------------------------------
Amazing Venues
---------------------------------------------
*/

.amazing-venues {
    margin: 100px 0px;
}
  
.amazing-venues .left-content h4 {
    font-size: 30px;
    font-weight: 800;
    color: #2a2a2a;
    margin-bottom: 20px;
}
  
.amazing-venues .right-content {
    margin-left: 30px;
}
  
.amazing-venues .right-content h5 i {
    color: #2a2a2a;
    margin-right: 5px;
}
  
.amazing-venues .right-content h5 {
    font-size: 22px;
    font-weight: 800;
    color: #2a2a2a;
    margin-bottom: 25px;
}
  
.amazing-venues .right-content span {
    font-size: 14px;
    color: #2a2a2a;
    line-height: 25px;
    font-weight: 300;
    display: block;
    margin-bottom: 6px;
}
  
.map-image img {
    width: 100%;
    overflow: hidden;
}
  
  
  /*
  ---------------------------------------------
  Venues & Tickets
  ---------------------------------------------
  */

.venue-tickets {
    margin: 0px 15px;
}
  
.venue-tickets .venue-item {
    margin-bottom: 23px;
}
  
.venue-item .thumb img {
    width: 100%;
    overflow: hidden;
}
  
.venue-item .down-content {
    background-color: #4a4354;
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100%;
}
  
.venue-item .down-content .left-content {
    width: 31%;
    float: left;
    background-color: rgba(124,131,139,0.3);
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 111;
}
  
.venue-item .down-content .left-content .main-white-button {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
}
  
.venue-item .down-content .right-content {
    width: 64%;
    margin-left: 5%;
    float: right;
}
  
.venue-item .down-content .right-content h4 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}
  
.venue-item .down-content .right-content p {
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    padding-right: 30px;
    margin-bottom: 20px;
}
  
.venue-item .down-content .right-content ul li { 
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-right: 20px;;
}
  
.venue-item .down-content .right-content ul li i {
    margin-right: 5px;
}
  
.venue-item .down-content .right-content .price {
    background-color: rgba(4, 9, 15, 0.3);
    display: inline-block;
    padding: 20px;
    margin-top: 25px;;
    margin-bottom: 30px;
}
  
.venue-item .down-content .right-content .price span {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}
  
.venue-item .down-content .right-content .price span em {
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

/*
---------------------------------------------
Venues & Tickets
---------------------------------------------
*/

.venue-tickets {
    margin: 0px 15px;
}
  
.venue-tickets .venue-item {
    margin-bottom: 23px;
}
  
.venue-item .thumb img {
    width: 100%;
    overflow: hidden;
}
  
.venue-item .down-content {
    background-color: #4a4354;
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100%;
}
  
.venue-item .down-content .left-content {
    width: 31%;
    float: left;
    background-color: rgba(124,131,139,0.3);
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 111;
}
  
.venue-item .down-content .left-content .main-white-button {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
}
  
.venue-item .down-content .right-content {
    width: 64%;
    margin-left: 5%;
    float: right;
}
  
.venue-item .down-content .right-content h4 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}
  
.venue-item .down-content .right-content p {
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    padding-right: 30px;
    margin-bottom: 20px;
}
  
.venue-item .down-content .right-content ul li { 
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-right: 20px;;
}
  
.venue-item .down-content .right-content ul li i {
    margin-right: 5px;
}
  
.venue-item .down-content .right-content .price {
    background-color: rgba(4, 9, 15, 0.3);
    display: inline-block;
    padding: 20px;
    margin-top: 25px;;
    margin-bottom: 30px;
}
  
.venue-item .down-content .right-content .price span {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}
  
.venue-item .down-content .right-content .price span em {
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}
  
/*
---------------------------------------------
Coming Events
---------------------------------------------
*/

.coming-events {
    background-color: #656c74;
    padding: 120px 0px;
    position: relative;
}
  
.coming-events .left-button {
    text-align: center;
    position: absolute;
    width: 9%;
    height: auto;
    top: 0;
    bottom: 0;
    background-color: rgba(124,131,139,0.3);
}
  
.coming-events .left-button .main-white-button {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
}
  
.event-item .thumb img {
    width: 100%;
    overflow: hidden;
}
  
.event-item .down-content {
    background-color: #fff;
    padding: 30px;
}
  
.event-item .down-content h4 {
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 25px;;
}
  
.event-item .down-content ul li {
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 300;
    margin-bottom: 15px;;
}
  
.event-item .down-content ul li:last-child {
    margin-bottom: 0px;
}
  
.event-item .down-content ul li i {
    width: 20px;
    text-align: center;
    font-size: 18px;
    color: #858b93;
    display: inline-block;
}
  
  
  
  /*
  ---------------------------------------------
  Subscribe
  ---------------------------------------------
  */
  
.subscribe {
    background-color: #7c838b;
    padding: 30px 0px;
}
  
.subscribe h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
  
.subscribe form input {
    padding: 5px 10px;
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(250,250,250,0.5);
    outline: none;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    margin-top: 5px;
}
  
.subscribe form ::-webkit-input-placeholder { /* Edge */
    color: #fff;
    font-weight: 200;
}
  
.subscribe form .main-dark-button {
    display: inline-block;
    font-size: 14px;
    padding: 12px 18px;
    background-color: #343a3e;
    color: #fff;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
    border: none;
    outline: none;
    width: 100%;
}
  
.subscribe form .main-dark-button:hover {
    background-color: #656c74;
}
  
  
  /* 
  ---------------------------------------------
  Footer
  --------------------------------------------- 
  */
  
footer {
    padding-top: 60px;
    margin-bottom: 25px;
}
  
footer h4 {
    font-size: 20px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 25px;;
}
  
footer .address span {
    font-size: 14px;
    color: #2a2a2a;
    line-height: 24px;
    font-weight: 300;
}
  
footer .links {
    text-align: center;
}
  
footer .links ul li a {
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 300;
    margin-bottom: 5px;
}
  
footer .hours {
    text-align: right;
}
  
footer .hours ul li {
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 300;
    margin-bottom: 5px;
}
  
footer .under-footer {
    margin-top: 50px;
}
  
footer p.copyright {
    text-align: right;
}
  
.sub-footer {
    border-top: 1px solid #e4e4e4;
    margin-top: 30px;
    padding-top: 30px;
}
  
.sub-footer .logo span {
    font-size: 28px;
    font-weight: 800;
    color: #656c74;
}
  
.sub-footer .logo span em {
    font-style: normal;
    color: #2a2a2a;
}
  
.sub-footer .menu {
    text-align: center;
}
  
.sub-footer .menu ul li {
    display: inline-block;
    margin: 10px 15px 5px 15px;
}
  
.sub-footer .menu ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
}
  
.sub-footer .menu ul li a:hover {
    color: #656c74;
}
  
.sub-footer .social-links {
    text-align: right;
    margin-top: 10px;
}
  
.sub-footer .social-links ul li {
    display: inline-block;
    margin-left: 5px;
}
  
.sub-footer .social-links ul li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #2a2a2a;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}
  
.sub-footer .social-links ul li a:hover {
    background-color: #656c74;
}
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  