body{
    background: #e8e7de;
    font-family: 'Montserrat', 'Sans-serif', 'Merriweather';
}

.chessboard{
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 10px solid #000;
    border-radius:4px;
    background: green;
    box-shadow: 5px 5px 8px #bebdb6,
    -5px -5px 8px #ffffff;

}

.black{
    float: left;
    width: 80px;
    height: 80px;
    background-color: green;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white{
    float: left;
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}